.Loader {
    display: flex;
    position: fixed;
    z-index: 2000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: visible;
    content: ' ';
    background-color: rgba(#444444, .75);
}

.Loader__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}
