.Comment {
    margin-bottom: 24px;
}
.Comment .ChannelCard {
    margin: 0;
}

.Comment .ChannelCard__thumbnail {
    margin-right: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
}

.Comment .ChannelCard__link {
    margin-right: 8px;
    margin-bottom: 6px;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
}

.Comment .ChannelCard__video-publish-date {
    margin-left: 5px;
}

.Comment .ChannelCard__details {
    margin-top: -18px;
}

.Comment__body {
    margin-left: 55px;
    margin-top: -25px;
}

.Comment__body p {
    color: rgb(17, 17, 17);
    font-size: 14px;
    line-height: 20px;
    margin-top: 6px;
}