.Header {
    position: fixed;
    top: 0;
    left: 0;    
    width: 100%;
    z-index: 2020;
    margin: 0 auto;
    height: 50px;
    background-color: #3a3f41;
}

.Header__Link,
.Header__search-input {
    display: inline-block;
    padding-top: 8px;
}

.Header__search-input {
    width: 656px;
    float: right;
}