
main {
  max-width: 1070px;
  margin: 70px auto 0;
  display: flex;
  justify-content: center;
}

.Video-player__wrapper,
.Next-videos__wrapper {
  /* flex: 1; */
}

.Component__container {
  font-size: .75rem;
  max-width: 1070px;
  margin-left: auto;
  margin-right: auto;
}
