.VideoDetails__title h1 {
    margin: 0;
    display: block;
    max-height: 4.8rem;
    overflow: hidden;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2.4rem;
}

.VideoDetails__metadata {
    display: table;
    width: 100%;
    padding-bottom: 20px;
}

.VideoDetails__metadata-views-count,
.VideoDetails__metadata-reactions{
    display: table-cell;
    color: #8c8c8c;
}

.VideoDetails__metadata-views-count {
    width: 60%;
}

.VideoDetails__metadata-reactions{
    float: right;
    padding: 0 10px;
}

.VideoDetails__description {
    padding-top: 20px;
    border-top: 1px solid #ccc;
    min-height: 83px;
    display: block;
    border-bottom: 1px solid #ccc;
    margin-bottom: 24px;
    padding: 16px 0;
}

.VideoDetails__description > p > a {
    color: #3893e6;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
 }

 .VideoDetails__description-details {
    padding-left: 63px;    
 }

 .VideoComments__header {
    margin-bottom: 24px;
    display: flex;
 }

 .VideoComments__header-coment-count {
    margin: 0;
    padding: 0;
    color: rgb(17, 17, 17);
    vertical-align: middle;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
 }
